@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

h1, h2 {
  text-shadow: 0 0 10px #ff63f7, 0 0 20px #ff63f7, 0 0 30px #ff63f7, 0 0 40px #fc78f6, 0 0 70px #fc78f6, 0 0 80px #fc78f6, 0 0 100px #fc78f6, 0 0 150px #fc78f6;
  font-weight: 100;
}

body {
  background: rgb(9, 0, 19);
  color: #fff;
  font-family: "Montserrat"
}

a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

a:hover, h1:hover, h2:hover {
  text-shadow: 0 0 10px #75edff, 0 0 20px #75edff, 0 0 30px #75edff, 0 0 40px #75edff, 0 0 70px #75edff, 0 0 80px #75edff, 0 0 100px #75edff, 0 0 150px #75edff;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
}

nav .middleNav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  text-shadow: 0 0 10px #ff63f7, 0 0 20px #ff63f7, 0 0 30px #ff63f7, 0 0 40px #fc78f6, 0 0 70px #fc78f6, 0 0 80px #fc78f6, 0 0 100px #fc78f6, 0 0 150px #fc78f6;
}

nav h1,
h2 {
  text-shadow: 0 0 10px #ff63f7, 0 0 20px #ff63f7, 0 0 30px #ff63f7, 0 0 40px #fc78f6, 0 0 70px #fc78f6, 0 0 80px #fc78f6, 0 0 100px #fc78f6, 0 0 150px #fc78f6;
}